@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

@font-face {
  font-family: 'MiFuente';
  src: url('/fonts/MiFuente.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
}
h1 {
  font-family: 'MiFuente', sans-serif;
}

h2 {
  font-family: 'MiFuente', sans-serif;
}

h3 {
  font-family: 'MiFuente', sans-serif;
}

h4 {
  font-family: 'MiFuente', sans-serif;
}

h5 {
  font-family: 'MiFuente', sans-serif;
}

p {
  font-family: 'MiFuente', sans-serif;
  line-height: 1.6;
}

.button-prin{
    border-radius:30px;
    background:green;
    color:white;
    padding:5px 10px;
}
